{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="main">
    <h1>Hello Katya {{ controller_name }}! ✅</h1>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/quasardevelopers/Gits/PlaywingTest/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/quasardevelopers/Gits/PlaywingTest/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
    <form method="post" action="/">
        <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" class="form-control" type="text" required name="phone" />
        </div>
        <button type="submit">Send code</button>
    </form>
</div>
{% endblock %}
